<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>SMC SIFMES-400 - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="login-body">
    <div class="login-container">
        <h2>SMC SIFMES-400</h2>
        <h3>Accedi al Sistema</h3>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <p class="error">{{ messages[0] }}</p>
          {% endif %}
        {% endwith %}
        <form method="POST">
            <input type="text" name="username" placeholder="Nome utente" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>